<% include ../layout/head %>

<h1>Available providers</h1>
<ul>
  <% if (identity_providers.facebook) { %>
    <li><a href="<%= link('/auth/facebook') %>" class="identity_provider facebook">Login with Facebook</a></li>
  <% } %>

  <% if (identity_providers.github) { %>
    <li><a href="<%= link('/auth/github') %>" class="identity_provider github">Login with Github</a></li>
  <% } %>

  <% if (identity_providers.ebu) { %>
    <li><a href="<%= link('/auth/ebu') %>" class="identity_provider ebu">Login with EBU</a></li>
  <% } %>

  <% if (identity_providers.local) { %>
    <li><a href="<%= link('/auth/local') %>" class="identity_provider local">Login with Username and Password</a></li>
  <% } %>
</ul>

<% include ../layout/foot %>
