<% include ../layout/head %>

<h1>Available provider</h1>
<ul>
    <li><a href="/auth/facebook">Login with Facebook</a></li>
    <li><a href="/auth/github">Login with Github</a></li>
</ul>

<% include ../layout/foot %>
