<% include ../layout/head %>

<h1>Add a Service Provider</h1>

<form method="POST" action="<%= link('/admin/domains') %>">
  <div class="panel-body">
    <div class="form-group">
      <label class="control-label" for="inputDisplayName">Name</label>
      <input type="text" class="form-control" id="inputDisplayName" name="display_name" required>

      <label class="control-label" for="inputDomain">Domain</label>
      <input type="text" class="form-control" id="inputDomain" name="name" required>
    </div>
    <input type="submit" class="btn btn-default" name="submit" value="Add">
  </div>
</form>

<p><a href="<%= link('/admin/domains') %>">Back</a></p>

<% include ../layout/foot %>
