<% include ../layout/head %>

<h1>Admin</h1>

<p><a href="<%= link('/admin/domains') %>">Service Providers</a></p>
<p><a href="<%= link('/admin/users') %>">Users</a></p>

<% include ../layout/foot %>
