<% include ../layout/head %>

<div></div>

<p>Hi <%= user.display_name || user.email %>!</p>
<p><b><%= client.name %></b> is requesting access to your account.</p>
<p>Do you approve?</p>

<form action="/oauth2/dialog/authorize/decision" method="post">
  <input name="transaction_id" type="hidden" value="<%= transactionID %>">
  <div>
  <input type="submit" value="Allow" id="allow">
  <input type="submit" value="Deny" name="cancel" id="deny">
  </div>
</form>


<% include ../layout/foot %>
