<% include layout/head %>

<div id="access-denied">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-danger text-center">
                <h1>Access Denied</h1>
                <p>Sorry, you don't have permission to access this content</p>
            </div>
        </div>
    </div>

</div>

<% include layout/foot %>
