<% include layout/header %>

<div id="access-denied">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-danger text-center">
                <h1><%= __('ACCESS_DENIED_TITLE')%></h1>
                <p><%= __('ACCESS_DENIED_MSG')%></p>
            </div>
        </div>
    </div>

</div>

<% include layout/foot %>
