<% include layout/head %>

<h1>CPA - Authentication Provider</h1>

<form method="GET" action="<%= link('/') %>">
  <table>
    <tr><td>Username:</td><td><input type="text" name="user"></td></tr>
    <tr><td>Password:</td><td><input type="password" name="pass"></td></tr>
    <tr><td></td><td><input type="submit" name="submit" value="Login"></td></tr>
  </table>
</form>

<a href="<%= link('/auth') %>">Other Identity Provider</a>

<% include layout/foot %>
