<html>
    <body>
        <h1>Login</h1>
        <h3 style="color:red"><%= errorMessage %></h3>

        <form method="GET" action="/">
            <table>
                <tr><td>Username:</td><td><input type="text" name="user"></td></tr>
                <tr><td>Password:</td><td><input type="password" name="pass"></td></tr>
                <tr><td></td><td><input type="submit" name="submit" value="Login"></td></tr>
            </table>
        </form>
    </body>
</html>