<% include layout/head %>

<div id="password-edit">

    <div class="container">

        <div class="col-sm-6 col-sm-offset-3">

            <a class="" href="<%= link('/auth/local') %>"><span class="glyphicon glyphicon-chevron-left"></span>Back to login</a>

            <div id="login-panel" class="panel panel-default">
                <div class="panel-body">
                    <h1 class="title">
                        New password
                    </h1>

                    <!-- show any messages that come back with authentication -->
                    <% if (message.length > 0) { %>
                        <div id="verification-success" class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="text"></span> </div>
                        <div id="verification-error" class="text-danger"><span class="glyphicon glyphicon-remove"></span> <span class="text"></span></div>
                    <% } %>

                    <!-- LOGIN FORM -->
                    <form id="password-edit-form" action="/login" method="post">
                        <div class="form-group">
                            <label>New password</label>
                            <input type="text" class="form-control" name="password">
                        </div>

                        <div class="form-group">
                            <label>Confirm password</label>
                            <input type="text" class="form-control" name="confirm-password">
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Confirm</button>

                    </form>

                </div>
            </div>

        </div>

    </div>

</div>

<% include layout/foot %>
