<% include layout/head %>

<div></div>

<div class="panel panel-info">
  <div class="panel-heading">Pairing Process - Verification</div>

  <div class="panel-body">
    <form method="POST" action="/verify">
      <div class="form-group <% if (error) { %>has-error<% } else { %>has-success<% } %>">
        <label class="control-label" for="inputUserCode">User Code</label>
        <input type="text" class="form-control" id="inputUserCode" placeholder="Enter your user code" name="user_code" <% if (values.user_code) { %>value="<%= values.user_code %>"<% } %>>

        <% if (error) { %>
        <span class="text-danger"><%= error %></span>
        <% } %>

      </div>



      <input type="submit" class="btn btn-default" name="submit" value="Verify">

    </form>
  </div>
</div>

<% include layout/foot %>
