/*
************
************ GENERAL
************
*/
html {
    height: 100%;
    min-height: 100%;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    margin-top: 10px;
}

main {
    flex: 1;
}

header, footer {
    background-color: #abc;
}

.panel {
    margin: 15px 0;
}

.panel .panel-body {
    padding: 20px 15px;
}

.panel .panel-body > h1 {
    margin: 0 0 20px 0;
    font-size: 30px;
}

.panel .last-link {
    margin: 15px 0 0 0;
}

.error-message {
    display: none;
}

.btn.btn-large-submit {
    font-size: 1.4rem;
    padding: 10px;
}

form.connect-forms {
    margin: 20px 0;
}

/*
************
************ SPINNER
************
*/
.spinner {
    display: none;
    width: auto;
    text-align: center;
}

.spinner > div {
    width: 10px;
    height: 10px;
    background-color: #FFF;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

/*
************
************ BOOTSTRAP
************
*/
.alert .glyphicon {
    vertical-align: -1px;
}

/*
************
************ HEADER
************
*/
nav .lang abbr[title], .lang abbr[data-original-title] {
    cursor: pointer;
    border: 0;
}

nav .lang ul.dropdown-menu {
    min-width: inherit;
    border: none;
    left: 0;
}

nav .lang ul.dropdown-menu {
    min-width: inherit;
    border: none;
    left: 0;
}

/*
************
************ LOGIN
************
*/
#login .link-center {
    display: block;
    margin: auto;
    text-align: center;
}

#login #password-recovery {
    font-size: 1.4rem;
    display: block;
    margin-top: 5px;
}

#login .login-images {
    width: 35px;
    cursor: pointer;
}

#login .login-social-labels {
    font-size: 1.1rem;
    margin-top: 5px;
}

#login .social {
    margin-top: 25px;
    margin-bottom: 20px;
}

/*
************
************ SIGNUP
************
*/

#signup .signup-fields {
    margin: 0 0 35px 0;
}

/*
************
************ PASSWORD RECOVERY
************
*/

#password-recovery .signup-fields {
    margin: 0 0 35px 0;
}

/*
************
************ VERIFY ACCOUNT
************
*/
#verify-mail h1 {
    margin-bottom: 30px;
}

#verify-mail p {
    font-size: 20px;
}

#verify-mail .link {
    display: block;
    margin-top: 30px;
}

#verify-mail .line {
    border-top: 1px solid #333;
    display: inline-block;
    height: 5px;
    width: 40px;
}

#verify-mail .separator {
    margin-top: 30px;
}

#verify-mail h1 span.glyphicon {
    vertical-align: -5px;
}

@media screen and (max-height: 575px) {
    #rc-imageselect, .g-recaptcha {
        transform: scale(0.92);
        -webkit-transform: scale(0.92);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}

/*
************
************ USERS
************
*/

#users .toolbar {
    background-color: #eee;
    padding: 10px;
    text-align: right;
    margin: 20px auto;
}

#users #alert-success, #users #alert-error {
    display: none;
}

/*
************
************ HOME
************
*/

#home .home-icon {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 2em;
}

#home .home-panel .panel-body {
    position: relative;
}

#home .home-panel .panel-body h3 {
    margin-top: 0;
}

#home .home-panel .panel-body p {
    margin-bottom: 0;
}

#home .panel {
    transition: box-shadow 0.3s ease-in-out;
}

#home a.home-panel {
    color: #333;
}

#home a.home-panel:hover {
    text-decoration: none;
    color: #333;
}

#home .panel:hover {
    cursor: pointer;
    -webkit-box-shadow: 3px 0 15px 0 rgba(204, 204, 204, 1);
    -moz-box-shadow: 3px 0 15px 0 rgba(204, 204, 204, 1);
    box-shadow: 3px 0 15px 0 rgba(204, 204, 204, 1);
}

/*
************
************ DEVICES
************
*/

#devices > h1 {
    position: relative;
}

#devices #table-devices tr th {
    border-top: none;
}

#devices .link-add-device {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.6rem;
}

/*
************
************ GOOGLE RECAPTCHA
************
*/

.recaptcha-wrapper {
    height: 70px;
    overflow: hidden;
    background-color: #F9F9F9;
    border-radius: 3px;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.08);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.08);
    height: 70px;
    position: relative;
    margin-top: 17px;
    border: 1px solid #d3d3d3;
    color: #000;
}
.recaptcha-info {
    background-size: 32px;
    height: 32px;
    margin: 0 13px 0 13px;
    position: absolute;
    right: 8px;
    top: 9px;
    width: 32px;
    background-image: url(https://www.gstatic.com/recaptcha/api2/logo_48.png);
    background-repeat: no-repeat;
}
.rc-anchor-logo-text {
    color: #9b9b9b;
    cursor: default;
    font-family: Roboto,helvetica,arial,sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    margin-top: 5px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 37px;
}
.rc-anchor-checkbox-label {
    font-family: Roboto,helvetica,arial,sans-serif;
    line-height: 17px;
    left: 50px;
    top: 26px;
    position: absolute;
    color: black;
}
.rc-anchor .rc-anchor-normal .rc-anchor-light {
    border: none;
}
.rc-anchor-pt {
    color: #9b9b9b;
    font-family: Roboto,helvetica,arial,sans-serif;
    font-size: 8px;
    font-weight: 400;
    right: 10px;
    top: 53px;
    position: absolute;
}
.rc-anchor-pt a:link {
    color: #9b9b9b;
    text-decoration: none;
}
g-recaptcha {
    // transform:scale(0.95);
    // -webkit-transform:scale(0.95);
    // transform-origin:0 0;
    // -webkit-transform-origin:0 0;
}
.g-recaptcha {
    width: 41px;
    /* border: 1px solid red; */
    height: 38px;
    overflow: hidden;
    float: left;
    margin-top: 16px;
    margin-left: 6px;
}
.g-recaptcha > div {
  width: 46px;
  height: 30px;
  background-color:  #F9F9F9;
  overflow: hidden;
  border: 1px solid red;
  transform: translate3d(-8px, -19px, 0px);
}
.g-recaptcha div {
    border: 0;
}

/*
************
************ CLIENT
************
*/
#client .btn-group{
    display: flex;
}

/*
************
************ MEDIA QUERIES
************
*/