/*
************
************ SPINNER
************
*/
.spinner {
    display: none;
    width: auto;
    text-align: center;
}

.spinner > div {
    width: 10px;
    height: 10px;
    background-color: #FFF;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}
/*
************
************ BOOTSTRAP
************
*/
.alert .glyphicon{
    vertical-align: -1px;
}
/*
************
************ GENERAL
************
*/
.panel {
    margin: 15px 0;
}
.panel .panel-body {
    padding: 20px 15px;
}
.panel .panel-body > h1 {
    margin: 0 0 20px 0;
    font-size: 30px;
}
.panel .last-link {
    margin: 15px 0 0 0;
}
.error-message {
    display: none;
}
/*
************
************ LOGIN
************
*/
#login .link-center {
    display: block;
    margin: auto;
    text-align: center;
}
#login #password-recovery {
    font-size: 0.9em;
}

#login h1.title span.glyphicon{
    font-size: 25px;
}
/*
************
************ VERIFY ACCOUNT
************
*/
#verify-mail h1{
    margin-bottom: 30px;
}

#verify-mail p{
    font-size: 20px;
}

#verify-mail .link {
    display: block;
    margin-top: 30px;
}

#verify-mail .line {
    border-top: 1px solid #333;
    display: inline-block;
    height: 5px;
    width: 40px;
}

#verify-mail .separator {
    margin-top: 30px;
}

#verify-mail h1 span.glyphicon {
    vertical-align: -5px;
}

@media screen and (max-height: 575px) {
    #rc-imageselect, .g-recaptcha {
        transform: scale(0.92);
        -webkit-transform: scale(0.92);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}