#profile .panel {
    height: 75px;
    border-bottom: 1px solid #eee;
    box-shadow: none;
}

#profile .panel.hidden {
    display: none;
}

#profile #btn-container, #profile #form-modify-pass {
    display: none;
}

#profile .personnal-data-input {
    visibility: hidden;
}

#profile .error-block {
    display: none;
}

#profile .error-block .title {
    font-weight: 500;
}

#profile .error-block .content p {
    margin: 0;
}

#profile .account-title {
    display: inline-block;
}

#profile .status-info {
    font-size: 1.2rem;
}

#profile .btn.btn-link {
    padding: 0;
}

#profile .status {
    display: block;
    cursor: default;
    border: none;
}

#profile #hasNoPasswordButtonLabel {
    display: none;
}

#profile #btn-send-verification-link {
    min-width: 80px;
}

#profile #verification-success, #profile #verification-error, #profile #delete-error {
    display: none;
}

#profile #delete-error {
    margin-bottom: 10px;
}

#profile .verification-link-container {
    margin-top: 10px;
}

#profile .verification-link-container .recaptcha-wrapper {
    max-width: 300px;
    margin: 20px 0;
}

#profile .col-sm-9 .delete-container, #profile .col-sm-9 .providers-container {
    margin-top: 10px;
}

#profile .col-sm-9 .first.providers-container {
    margin-top: 5px;
}

#profile .providers-container .facebook-text {
    display: inline-block;
    font-size: 18px;
    color: #4267b2;
}

#profile .providers-container .facebook-text + span {
    padding-left: 10px;
}

#profile .col-sm-9.col-sm-offset-3 .delete-container {
    margin-top: 25px;
}

#profile .col-sm-3 .delete-container {
    margin-top: 25px;
}

#profile #password-error {
    display: none;
}

@media (max-width: 767px) {
    #profile .h4, #profile h4 {
        font-size: 25px;
    }

    #profile .status {
        display: inline-block;
        float: right;
        margin-top: 15px;
    }
}
