.panel {
    height: 75px;
    border-bottom: 1px solid #eee;
    box-shadow: none;
}
#btn-container, #form-modify-pass {
    display: none;
}
.personnal-data-input {
    visibility: hidden;
}
.error-block {
    display: none;
}
.error-block .title {
    font-weight: 500;
}
.error-block .content p{
    margin: 0;
}
.mobile-title {
    font-size: 25px;
}
.btn.btn-link {
    padding: 0;
}
.status {
    cursor: default;
    border: none;
}
.status.btn-danger {
    color: #fff ;
    background-color: #d9534f;
}
.status.btn-danger:hover {
    color: #fff;
    background-color: #d9534f;
}
.status.btn-success {
    color: #fff ;
    background-color: #5cb85c;
}
.status.btn-success:hover {
    color: #fff;
    background-color: #5cb85c;
}
#btn-send-verification-link {
    min-width: 80px;
}
#verification-success, #verification-error {
    display: none;
}
.verification-link-container {
    margin-top: 20px;
}