/*
************
************ GENERAL
************
*/
html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica", "Arial", "Verdana", sans-serif;
}

h1 {
    font-size: 2.8rem;
    font-weight: normal;
}

h2 {
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #333333;
    font-weight: normal;
}

h4 {
    font-size: 1.6rem;
    color: #666666;
    font-weight: normal;
}

.btn-link {
    color: #af001e;
}

.btn-link:hover, .btn-link:active, .btn-link:focus {
    color: #bf0020;
}

.profile-container {
    padding: 10px 0 40px;
}

#form-personnal-data h4 {
    font-size: 1.6rem;
    margin-top: 1.5rem;
    color: #666666;
    text-transform: uppercase;
}

#form-personnal-data span {
    font-size: 1.4rem;
}

#form-personnal-data .panel {
    border: 0;
}

.btn-primary, .btn-danger {
    background-color: #af001e;
    border: #af001e;
    font-size: 1.8rem;
    margin-right: 10px;
}

.btn-primary:hover, .btn-danger:hover {
    background-color: #bf0020;
}

.btn-primary:active, .btn-primary:focus, .btn-danger:active, .btn-danger:focus {
    background-color: #bf0020;
}

#form-security-errors + h4 {

}

.delete-container {
    padding: 16px 0;
}

.delete-container p {
    font-size: 1.8rem;
    color: #666666
}

footer.rts-footer {
    margin-top: 20px;
}

/*TODO remove this when user login btn will be in production on hummingbird*/
.rts-hp-header .about {
    display: none;
}