<p>Hi,</p>

<p>
    You wanted to change the email address of your account to <%= newEmail %>.
    It was previously associated with <%= oldEmail %>.
</p>

<p>
    Please confirm this change with a click on this link:
    <a style="color: inherit; text-decoration: none;" href="<%- confirmLink %>"><%= confirmLink %></a>
</p>

<p>
    Lorem ipsum...
</p>