</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="<%= link('/js/jquery.min.js') %>"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="<%= link('/js/bootstrap.min.js') %>"></script>
</body>
</html>
