<% include layout/head %>

<h1>CPA - OAuth2 Clients</h1>

<% if (user) { %>
<a href="/auth/logout" class="btn btn-warning">Logout</a>
<% } else { %>
<a href="<%= loginUrl %>" class="btn btn-success">Login using Ma RTS</a>
<% } %>
<% include layout/foot %>
