<% include layout/head %>

<h1>IDP - OAuth2 Clients</h1>

<%- main_content %>
<% if (expiresAt) { %>
<div>Expires at <%= expiresAt %>.</div>
<% } %>
<% if (refreshToken) { %>
<a href="/auth/refresh" class="btn btn-info">Use Refresh Token</a>
<% } %>
<% include layout/foot %>
